<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="resetpassword-form">
    <h1 class="resetpassword-form-title">Reset password</h1>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="resetPasswordFormControl.email.hasError('email') && !resetPasswordFormControl.email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="resetPasswordFormControl.email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="resetPasswordFormControl.password.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Login</button>
    <div class="resetpassword-form-link">
        <a [routerLink]="['/auth/login']">Back to login</a>
    </div>
</form>