

agm-map {
  height: 300px !important;
}

::ng-deep .epform .mat-tab-body-content{
  overflow: hidden;
}

::ng-deep .amenity-list {
  .mat-list-text {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
  }
}