<div class="datatable">

    <div class="actions-container">
        <div *ngIf="selection.hasValue()">

            <span *ngIf="tab === 'delete'">
                <button (click)="deleteForever(selection.selected)" matTooltip="Delete selected permanently"
                    mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">delete_forever</i>
                </button>

                <button (click)="restore(selection.selected)" matTooltip="Restore selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">restore</i>
                </button>
            </span>

            <span *ngIf="tab !== 'delete'">
                <button (click)="delete(selection.selected)" matTooltip="Delete selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">delete</i>
                </button>
                <button *ngIf="selection.selected.length === 1" [routerLink]="['/requests/' + selection.selected[0].id]"
                    matTooltip="View details" mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">visibility</i>
                </button>
            </span>
        </div>
    </div>

    <div class="datatable-container mat-elevation-z8">
        <ep-grid-tabs [tabs]="tabs" (selectedTab)="setActiveTab($event)" [activeTab]="tab"></ep-grid-tabs>
        <ep-grid-loading [isLoadingResults]="isLoadingResults"></ep-grid-loading>


        <div class="datatable-table-container">
            <div class="datatable-paginator">
                <ep-grid-columns-display-menu [columns]="columns" (toggleColumn)="toggleColumn($event)">
                </ep-grid-columns-display-menu>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
            </div>

            <table mat-table [dataSource]="data" class="datatable-table" matSort matSortActive="" matSortDisableClear>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th class="datatable-actions-row" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td class="datatable-actions-row" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>


                <!-- Agent Name Column -->
                <ng-container matColumnDef="agent_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['agent_name'].label}}</th>
                    <td mat-cell *matCellDef="let row">{{row.agent_name}}</td>
                </ng-container>

                <!-- User Name Column -->
                <ng-container matColumnDef="user_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['user_name'].label}}</th>
                    <td mat-cell *matCellDef="let row">{{row.user_name}}</td>
                </ng-container>

                <!-- User Email Column -->
                <ng-container matColumnDef="user_email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['user_email'].label}}</th>
                    <td mat-cell *matCellDef="let row">{{row.user_email}}</td>
                </ng-container>

                <!-- User Phone Column -->
                <ng-container matColumnDef="user_phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['user_phone'].label}}</th>
                    <td mat-cell *matCellDef="let row">{{row.user_phone}}</td>
                </ng-container>




                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">

                        <span *ngIf="tab === 'delete'">
                            <button (click)="deleteForever([row])" matTooltip="Delete selected permanently"
                                mat-icon-button class="fab-secondary" color="secondary">
                                <i class="material-icons">delete_forever</i>
                            </button>

                            <button (click)="restore([row])" matTooltip="Restore selected" mat-icon-button
                                class="fab-secondary" color="secondary">
                                <i class="material-icons">restore</i>
                            </button>
                        </span>





                        <span *ngIf="tab !== 'delete'">
                            <button (click)="delete([row])" matTooltip="Delete selected" mat-icon-button
                                class="fab-secondary" color="secondary">
                                <i class="material-icons">delete</i>
                            </button>
                            <button [routerLink]="['/requests/' + row.id]" matTooltip="View details" mat-icon-button
                                class="fab-secondary" color="secondary">
                                <i class="material-icons">visibility</i>
                            </button>
                        </span>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

    </div>

</div>