<div class="datatable">

    <div class="actions-container">
        <button [routerLink]="['/property/add']" matTooltip="Add new Item" mat-fab class="action-main">
            <i class="material-icons">add</i>
        </button>
        <div *ngIf="selection.hasValue()">

            <span *ngIf="tab === 'delete'">
                <button (click)="deleteForever(selection.selected)" matTooltip="Delete selected permanently"
                    mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">delete_forever</i>
                </button>

                <button (click)="restore(selection.selected)" matTooltip="Restore selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">restore</i>
                </button>
            </span>


            <span *ngIf="tab === 'draft'">
                <button [routerLink]="['/property/edit-draft/' + selection.selected[0].id]"
                    *ngIf="selection.selected.length === 1" matTooltip="edit selected draft" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">edit</i>
                </button>
                <button (click)="deleteDraft(selection.selected)" matTooltip="Delete selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">delete</i>
                </button>
            </span>


            <span *ngIf="tab !== 'delete' && tab !== 'draft'">
                <button [routerLink]="['/property/edit/' + selection.selected[0].id]"
                    *ngIf="selection.selected.length === 1" matTooltip="edit selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">edit</i>
                </button>
                <button *ngIf="tab !== 'approved'" (click)="approve(selection.selected)" matTooltip="Approve selected"
                    mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">thumb_up_alt</i>
                </button>
                <button *ngIf="tab !== 'pending_approval'" (click)="disapprove(selection.selected)"
                    matTooltip="Disapprove selected" mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">thumb_down_alt</i>
                </button>


                <button (click)="delete(selection.selected)" matTooltip="Delete selected" mat-mini-fab
                    class="fab-secondary" color="secondary">
                    <i class="material-icons">delete</i>
                </button>
                <button (click)="changeStatus(selection.selected, 'active', 1)" matTooltip="Mark selected as active"
                    mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">check_circle_outline</i>
                </button>
                <button (click)="changeStatus(selection.selected, 'active', 0)" matTooltip="Deactivate selected"
                    mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">highlight_off</i>
                </button>
            </span>
        </div>
    </div>

    <div class="datatable-container">
        <ep-grid-tabs [tabs]="tabs" (selectedTab)="setActiveTab($event)" [activeTab]="tab"></ep-grid-tabs>
        <ep-grid-loading [isLoadingResults]="isLoadingResults"></ep-grid-loading>


        <div class="datatable-table-container">
            <div class="datatable-paginator">
                <ep-grid-columns-display-menu [columns]="columns" (toggleColumn)="toggleColumn($event)">
                </ep-grid-columns-display-menu>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
            </div>

            <div class="responsive-table">
                <table mat-table [dataSource]="data" class="datatable-table" matSort matSortActive=""
                    matSortDisableClear multiTemplateDataRows>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th class="datatable-actions-row" mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td class="datatable-actions-row" mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip-list *ngIf="tab === 'pending_approval' || tab === 'approved'">
                                <mat-slide-toggle (click)="changeStatus([row], 'active', (row.active)? 0 : 1);$event.stopPropagation()" [checked]="(row.active)? true: false"></mat-slide-toggle>
                            </mat-chip-list>

                        </td>
                    </ng-container>

                    <!-- Reference Column -->
                    <ng-container matColumnDef="reference">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['reference'].label}}</th>
                        <td mat-cell *matCellDef="let row">{{row.reference}}</td>
                    </ng-container>

                    <!-- Purpose Column -->
                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['purpose'].label}}</th>
                        <td mat-cell *matCellDef="let row">{{purposeObj[row.purpose]}}</td>
                    </ng-container>


                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['price'].label}}</th>
                        <td mat-cell *matCellDef="let row">AED {{row.price}}</td>
                    </ng-container>

                    <!-- Published by Column -->
                    <ng-container matColumnDef="published_by">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columns['published_by'].label}}</th>
                        <td mat-cell *matCellDef="let row">
                            {{(row.agent && row.agent.name)? 'Agent: ' + row.agent.name: (row.member && row.member.full_name)? 'Member: ' + row.member.full_name: '' }}
                        </td>
                    </ng-container>



                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">

                            <span *ngIf="tab === 'delete'">
                                <button (click)="deleteForever([row]);$event.stopPropagation()" matTooltip="Delete selected permanently"
                                    mat-icon-button class="fab-secondary" color="secondary">
                                    <i class="material-icons">delete_forever</i>
                                </button>

                                <button (click)="restore([row]);$event.stopPropagation()" matTooltip="Restore selected" mat-icon-button
                                    class="fab-secondary" color="secondary">
                                    <i class="material-icons">restore</i>
                                </button>
                            </span>


                            <span *ngIf="tab === 'draft'">
                                <button (click)="deleteDraft([row]);$event.stopPropagation()" matTooltip="Delete selected" mat-icon-button
                                    class="fab-secondary" color="secondary">
                                    <i class="material-icons">delete</i>
                                </button>
                                <button [routerLink]="['/property/edit-draft/' + row.id]" (click)="$event.stopPropagation()"
                                    matTooltip="edit selected draft" mat-icon-button class="fab-secondary"
                                    color="secondary">
                                    <i class="material-icons">edit</i>
                                </button>
                            </span>


                            <span *ngIf="tab !== 'delete' && tab !== 'draft'">
                                <button [routerLink]="['/property/edit/' + row.id]" (click)="$event.stopPropagation()" matTooltip="edit selected"
                                    mat-icon-button class="fab-secondary" color="secondary">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button *ngIf="tab !== 'approved'" (click)="approve([row]);$event.stopPropagation()"
                                    matTooltip="Approve selected" mat-icon-button class="fab-secondary"
                                    color="secondary">
                                    <i class="material-icons">thumb_up_alt</i>
                                </button>
                                <button *ngIf="tab !== 'pending_approval'" (click)="disapprove([row]);$event.stopPropagation()"
                                    matTooltip="Disapprove selected" mat-icon-button class="fab-secondary"
                                    color="secondary">
                                    <i class="material-icons">thumb_down_alt</i>
                                </button>

                                <button (click)="delete([row]);$event.stopPropagation()" matTooltip="Delete selected" mat-icon-button
                                    class="fab-secondary" color="secondary">
                                    <i class="material-icons">delete</i>
                                </button>

                                <button (click)="changeStatus([row], 'active', 1);$event.stopPropagation()" matTooltip="Mark selected as active"
                                    mat-icon-button class="fab-secondary" color="secondary">
                                    <i class="material-icons">check_circle_outline</i>
                                </button>
                                <button (click)="changeStatus([row], 'active', 0);$event.stopPropagation()" matTooltip="Deactivate selected"
                                    mat-icon-button class="fab-secondary" color="secondary">
                                    <i class="material-icons">highlight_off</i>
                                </button>
                            </span>
                        </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                <div style="padding: 1rem">
                                    <img style="width: 300px;height: auto;"
                                        [src]="imageBaseUrl + element.images[0].path" [alt]="element.images[0].name">
                                </div>
                                <div style="padding: 2rem">
                                    <h2>{{element.title}}</h2>
                                    <h3>{{element.type.name}}, {{cityObj[element.city]}}</h3>
                                    <div style="display: flex;align-items: center;font-size: 1rem;margin-bottom: 1rem;">
                                        <div style="display: flex;align-items: center;font-size: 1.2rem;"><img
                                                style="width: 30px;height: 30px" src="assets/images/bed.svg"
                                                alt="Beds number"> <span
                                                style="margin: .5rem;">{{element.bedrooms}}</span></div>
                                        <div style="display: flex;align-items: center;font-size: 1.2rem;"><img
                                                style="width: 30px;height: 30px" src="assets/images/bathtub.svg"
                                                alt="Bathtub number"> <span
                                                style="margin: .5rem;">{{element.bathrooms}}</span></div>
                                        <div style="display: flex;align-items: center;font-size: 1.2rem;"><img
                                                style="width: 24px;height: 24px" src="assets/images/dimensions.svg"
                                                alt="Beds number"> <span style="margin: .5rem;">{{element.area}}
                                                sqf</span></div>
                                    </div>
                                    <p><span style="font-weight: bold;">Created on</span> {{element.created_at | date}}
                                        <span *ngIf="element.publish_date">, <span style="font-weight: bold;">published
                                                on</span> {{element.publish_date | date}}</span> <span
                                            *ngIf="element.expiry_date">, <span
                                                [ngStyle]="{'color': isExpiredDate(element.expiry_date)}"> <span
                                                    style="font-weight: bold;">Expired
                                                    on</span> {{element.expiry_date | date}}</span></span> </p>
                                </div>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </div>

        </div>

    </div>

</div>