<form class="epform" [formGroup]="careerForm" #formDirective="ngForm">
    <div class="epform-breadcrumb">
        <div class="return">
            <a mat-icon-button [routerLink]="['/careers']">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h1 class="epform-title">Careers list</h1>
        </div>
        <div *ngIf="formType.type === FormTypes.add">
            <button type="submit" mat-stroked-button color="primary" (click)="saveAsDraft(formDirective)">Save as
                draft</button>
            <button type="submit" mat-flat-button style="margin-left: 1rem;" color="primary"
                (click)="addNew(formDirective)">Add new career</button>
        </div>
        <div *ngIf="formType.type === FormTypes.edit">
            <button type="submit" mat-flat-button color="primary" (click)="edit()">Edit career</button>
        </div>
        <div *ngIf="formType.type === FormTypes.editDraft">
            <button type="submit" mat-stroked-button color="primary" (click)="editDraft()">Edit draft career</button>
            <button type="submit" mat-flat-button style="margin-left: 1rem;" color="primary" (click)="publish()">Publish
                career</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-left_col">
            <div class="epform-card">
                <div mat-subheader>
                    <div>Career Info </div>
                </div>
                <div class="form">
                    <table class="form-field" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Name *</mat-label>
                                    <input matInput formControlName="name">
                                    <mat-error *ngIf="careerFormControl.name.hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="careerFormControl.name.hasError('minlength')">
                                        Name should be <strong>2 or more characters</strong>
                                    </mat-error>
                                    <mat-error *ngIf="careerFormControl.name.hasError('maxlength')">
                                        Name should be <strong>less than 256 character</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>URL *</mat-label>
                                    <input matInput formControlName="url">
                                    <mat-error *ngIf="careerFormControl.url.hasError('required')">
                                        URL is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="careerFormControl.url.hasError('minlength')">
                                        URL should be <strong>2 or more characters</strong>
                                    </mat-error>
                                    <mat-error *ngIf="careerFormControl.url.hasError('maxlength')">
                                        URL should be <strong>less than 256 character</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Brief</mat-label>
                                    <input matInput formControlName="brief">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Sort order *</mat-label>
                                    <input matInput formControlName="sort_order">
                                    <mat-error *ngIf="careerFormControl.sort_order.hasError('required')">
                                        Sort Order is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="careerFormControl.sort_order.hasError('pattern')">
                                        Sort Order should be a <strong>number</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <mat-form-field class="form-field">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="content"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-right_col">
            <div class="epform-card">
                <div mat-subheader>
                    <div>Status Info</div>
                </div>
                <div class="form">
                    <mat-slide-toggle formControlName="active" color="primary" [labelPosition]="'before'">Active career
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="epform-card">
                <div mat-subheader>
                    <div>Meta Info</div>
                </div>
                <div class="form">
                    <mat-form-field class="form-field">
                        <mat-label>Meta title</mat-label>
                        <input matInput formControlName="meta_title">
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Meta description</mat-label>
                        <input matInput formControlName="meta_description">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>