.form-row {
  display: flex;

  .form-left_col {
    flex: 1;
    flex-basis: 60%;
    margin-right: 1rem;
  }

  .form-right_col {
    flex: 1;
    flex-basis: 40%;
    margin-left: 1rem;

    ::ng-deep .mat-slide-toggle {
      width: 100%;

      .mat-slide-toggle-content {
        flex: 1;
      }
    }
  }
}

agm-map {
  height: 300px !important;
}
