<ep-header (toggleSidenav)="sidenav.toggle()" (logout)="logout()"></ep-header>
<mat-sidenav-container class="layout_sidenav-container">
    <mat-sidenav #sidenav [mode]="isLargeScreen? 'side' : 'over'"  class="layout_sidenav" [opened]="isLargeScreen">
        <ep-sidenav></ep-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet>
            <div style="height: 4px !important;">
                <mat-progress-bar *ngIf="isLoading" style="height: 100% !important;" color="accent"
                    mode="indeterminate">
                </mat-progress-bar>
            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>    