<div class="password">
    <div class="password-wrapper">
        <div class="password-breadcrumb">
            <button mat-icon-button [routerLink]="['/profile']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1 class="password-title">Personal info</h1>
        </div>
        <div class="password-card">
            <div mat-subheader>
                <div>Password</div>
            </div>
            <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">


                <mat-form-field class="form-field">
                    <mat-label>Old password*</mat-label>
                    <input [type]="isOldPassVisible? 'text': 'password'" matInput formControlName="old_password">
                    <button mat-button matSuffix mat-icon-button (click)="toggleOldPasswordVisibility()">
                        <mat-icon>{{isOldPassVisible? 'visibility':'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userFormControl.old_password.hasError('required')">
                        Old password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>New password*</mat-label>
                    <input [type]="isNewPassVisible? 'text': 'password'"  matInput formControlName="new_password">
                    <button mat-button matSuffix mat-icon-button (click)="toggleNewPasswordVisibility()">
                        <mat-icon>{{isNewPassVisible? 'visibility':'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userFormControl.new_password.hasError('required')">
                        New password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="form-submit">
                    <button type="submit" color="primary" mat-raised-button>Save</button>
                </div>
            </form>

        </div>
    </div>
</div>