<div class="sidenav-content">
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let item of sideNavItems" expanded="true">
            <mat-expansion-panel-header *ngIf="item.permission.includes(userRole)">
                <mat-panel-title>
                    {{item.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list [multiple]="false" *ngIf="item.permission.includes(userRole)">
                <ng-container *ngFor="let childItem of item.children">
                    <a *ngIf="childItem.permission.includes(userRole)" [routerLink]="[childItem.url]">
                        <mat-list-option routerLinkActive="active">
                            <mat-icon mat-list-icon>{{childItem.icon}}</mat-icon>
                            <div mat-line>{{childItem.title}}</div>
                        </mat-list-option>
                    </a>
                </ng-container>
            </mat-selection-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>