<form class="epform" [formGroup]="pagesForm" #formDirective="ngForm">
    <div class="epform-breadcrumb">
        <div class="return">
            <a mat-icon-button [routerLink]="['/pages']">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h1 class="epform-title">Page list</h1>
        </div>
        <div *ngIf="formType.type === FormTypes.add">
            <button type="submit" mat-stroked-button color="primary" (click)="saveAsDraft(formDirective)">Save as
                draft</button>
            <button type="submit" mat-flat-button style="margin-left: 1rem;" color="primary"
                (click)="addNew(formDirective)">Add new Page</button>
        </div>
        <div *ngIf="formType.type === FormTypes.edit">
            <button type="submit" mat-flat-button color="primary" (click)="edit()">Edit Page</button>
        </div>
        <div *ngIf="formType.type === FormTypes.editDraft">
            <button type="submit" mat-stroked-button color="primary" (click)="editDraft()">Edit draft Page</button>
            <button type="submit" mat-flat-button style="margin-left: 1rem;" color="primary" (click)="publish()">Publish
                Page</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-left_col">
            <div class="epform-card">
                <div mat-subheader>
                    <div>Page Info </div>
                </div>
                <div class="form">
                    <table class="form-field" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Name *</mat-label>
                                    <input matInput formControlName="name">
                                    <mat-error *ngIf="pagesFormControl.name.hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Ident *</mat-label>
                                    <input matInput formControlName="ident">
                                    <mat-error *ngIf="pagesFormControl.ident.hasError('required')">
                                        Ident is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="form-field">
                                    <mat-label>Type *</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-form-field class="autocomplete-form-field"
                                            style="width: 100%;padding-bottom: 0;">
                                            <input placeholder="Search" matInput [formControl]="typeFormControl"
                                                type="text">
                                        </mat-form-field>
                                        <mat-option *ngFor="let type of filteredTypes$ | async" [value]="type.id">
                                            {{type.name }}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="pagesFormControl.type.hasError('required')">
                                        Type is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <!-- <td>
                                <mat-form-field class="form-field">
                                    <mat-label>Parent</mat-label>
                                    <mat-select formControlName="parent_id">
                                        <mat-form-field class="autocomplete-form-field"
                                            style="width: 100%;padding-bottom: 0;">
                                            <input placeholder="Search" matInput [formControl]="parentFormControl"
                                                type="text">
                                        </mat-form-field>
                                        <mat-option *ngFor="let parent of filteredParents$ | async" [value]="parent.id">
                                            {{parent.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td> -->
                        </tr>
                    </table>
                    <mat-form-field class="form-field">
                        <mat-label>Content</mat-label>
                        <textarea matInput formControlName="content"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="epform-card">
                <div mat-subheader>
                    <div>Media</div>
                </div>
                <div class="form">
                    <ep-image-uploader [crop]="true" [aspectRatio]="1570 / 328" [buttonCaption]="'Select Image'"
                        [url]="uploadPhoto" id="page-image" [pathPrefix]="imageBaseUrl"
                        (triggerChange)="getImage($event)" [max]="1"
                        [uploadedFiles]="(pagesFormControl.image.value)? [{path: pagesFormControl.image.value}] : []">
                    </ep-image-uploader>

                </div>
            </div>
        </div>
        <div class="form-right_col">
            <div class="epform-card">
                <div mat-subheader>
                    <div>Status Info</div>
                </div>
                <div class="form">
                    <mat-slide-toggle formControlName="active" color="primary" [labelPosition]="'before'">Active Page
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="epform-card">
                <div mat-subheader>
                    <div>Publishing Info</div>
                </div>
                <div class="form">
                    <mat-form-field class="form-field">
                        <mat-label>URL *</mat-label>
                        <input matInput formControlName="url">
                        <mat-error *ngIf="pagesFormControl.url.hasError('required')">
                            URL is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Language</mat-label>
                        <mat-select formControlName="language">
                            <mat-form-field class="autocomplete-form-field" style="width: 100%;padding-bottom: 0;">
                                <input placeholder="Search" matInput [formControl]="languageFormControl" type="text">
                            </mat-form-field>
                            <mat-option *ngFor="let language of filteredLanguages$ | async" [value]="language.id">
                                {{language.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="pagesFormControl.language.hasError('required')">
                            Language is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-slide-toggle (change)="clearPublishingInputs($event)" formControlName="publish_in_date"
                        color="primary" [labelPosition]="'before'">
                        Publish in date
                    </mat-slide-toggle>

                    <mat-form-field class="form-field">
                        <mat-label>Publishing start date</mat-label>
                        <input matInput [matDatepicker]="publishStartDatePicker" formControlName="publish_start_date"
                            [disabled]="!pagesFormControl.publish_in_date.value">
                        <mat-datepicker-toggle matSuffix [for]="publishStartDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #publishStartDatePicker></mat-datepicker>
                        <mat-error *ngIf="pagesFormControl.publish_start_date.hasError('required')">
                            Publishing start date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Publishing end date</mat-label>
                        <input matInput [matDatepicker]="publishEndDatePicker" formControlName="publish_end_date"
                            [disabled]="!pagesFormControl.publish_in_date.value">
                        <mat-datepicker-toggle matSuffix [for]="publishEndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #publishEndDatePicker></mat-datepicker>
                        <mat-error *ngIf="pagesFormControl.publish_end_date.hasError('required')">
                            Publishing end date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="epform-card">
                <div mat-subheader>
                    <div>Meta Info</div>
                </div>
                <div class="form">
                    <mat-form-field class="form-field">
                        <mat-label>Meta title</mat-label>
                        <input matInput formControlName="meta_title">
                        <mat-error *ngIf="pagesFormControl.meta_title.hasError('required')">
                            Meta title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Meta description</mat-label>
                        <input matInput formControlName="meta_description">
                        <mat-error *ngIf="pagesFormControl.meta_description.hasError('required')">
                            Meta description is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>