// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/styles/app-color-palette';
@import './assets/styles/app-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-typography($emirates-properties-cms);
@include angular-material-theme($emirates-properties-cms-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.l-spacer {
  flex: 1 1 auto;
}


.datatable {
  padding: 1rem;

  tr.mat-row {
    &:hover {
      background-color: #fafafa;

      th.cdk-column-actions.mat-header-cell,
      td.cdk-column-actions.mat-cell,
      td.cdk-column-actions.mat-footer-cell {
        display: inherit;
      }
    }
  }

  th.cdk-column-actions.mat-header-cell,
  td.cdk-column-actions.mat-cell,
  td.cdk-column-actions.mat-footer-cell {
    padding-right: 24px;
    position: absolute;
    right: 0;
    border: none;
    background: #fafafa;
    display: none;

    button {
      color: black;

      &:hover {
        color: #d3371e;
      }
    }
  }

  .datatable-paginator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding-left: 1rem;

    >a {
      &:hover {
        cursor: pointer;
      }
    }

    .mat-paginator {
      flex: 1;
    }
  }

  .actions-container {
    z-index: 100;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-top: 0;
    align-items: center;

    >div {
      display: flex;
      flex-direction: row;
      margin-left: 5px;

      button {
        margin-left: 17px;
      }
    }
  }

  .action-main {
    float: right;
    z-index: 100;
    background-color: #d3371e;
  }


  .datatable-table-container {
    position: relative;
    max-height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-top: none;
  }

  table {
    width: 100%;
  }

  .datatable-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }


  .datatable-container {
    position: relative;
    min-height: 200px;
  }

  .mat-tab-link {
    border: 0;
    background: none;
    color: inherit;
    padding: 0 24px;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    cursor: pointer;
    opacity: 1;

    .mat-icon {
      margin-right: 1rem;
    }
  }

  .mat-tab-link+.mat-tab-link {
    border-left: solid 1px rgba(0, 0, 0, 0.12);
  }

  .mat-tab-link.active {
    background-color: #d3371e;
    color: white;
  }
}



.epform {
  padding: 1rem;

  .epform-breadcrumb {
    display: flex;
    align-items: center;

    .return {
      flex: 1;
      display: flex;
    }
  }

  .mat-divider {
    margin-left: 16px;
    margin-right: 16px;
  }

  .epform-title {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }

  .epform-card {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    .mat-subheader {
      font-size: 1.375rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.75rem;
      hyphens: auto;
      word-break: break-word;
      word-wrap: break-word;
      color: #202124;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .form {
    width: 100%;

    .form-field {
      width: 100%;
    }

    td {
      padding-right: 8px;
    }

    .form-submit {
      text-align: right;
    }
  }

}
