// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/styles/app-color-palette';
@import './assets/styles/app-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-typography($emirates-properties-cms);
@include angular-material-theme($emirates-properties-cms-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.l-spacer {
  flex: 1 1 auto;
}





.epform {
  padding: 1rem;

  .epform-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .return {
      flex: 1;
      display: flex;
    }

    >div {
      white-space: nowrap;
    }
  }

  .mat-divider {
    margin-left: 16px;
    margin-right: 16px;
  }

  .epform-title {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }

  .epform-card {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    .mat-subheader {
      font-size: 1.375rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.75rem;
      hyphens: auto;
      word-break: break-word;
      word-wrap: break-word;
      color: #202124;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .form {
    width: 100%;

    .form-field {
      width: 100%;
    }

    td {
      padding-right: 8px;
    }

    .form-submit {
      text-align: right;
    }
  }

}

.autocomplete-form-field .mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0 !important;

}


// Flash messages
.flash-success {
  background: white;
  border-left: 5px solid #56c95f;

  .mat-icon {
    color: #56c95f;
    font-size: 3rem;
    width: 100%;
    height: 100%;
  }
}

.flash-error {
  background: white;
  border-left: 5px solid #f75a5b;

  .mat-icon {
    color: #f75a5b;
    font-size: 3rem;
    width: 100%;
    height: 100%;
  }
}


// Form styles

.form-row {
  display: flex;
  justify-content: center;

  .form-left_col {
    flex: 1;
    flex-basis: 60%;
    margin-right: 1rem;
  }

  .form-right_col {
    flex: 1;
    flex-basis: 40%;
    margin-left: 1rem;

    .form-toggle {
      width: 100%;

      .mat-slide-toggle-content {
        flex: 1;
      }
    }
  }


  .form-col {
    width: 800px;
  }
}


@media screen and (max-width: 768px) {

  .form-row {
    display: block;

    .form-left_col {
      margin-right: 0;
    }

    .form-right_col {
      margin-left: 0;
    }

    td {
      display: block;
    }
  }

  .form-field {
    td {
      display: block;
    }
  }
}

.datatable {
  padding: 1rem;

  tr.mat-row {
    &:hover {
      background-color: #fafafa;

      th.cdk-column-actions.mat-header-cell,
      td.cdk-column-actions.mat-cell,
      td.cdk-column-actions.mat-footer-cell {
        display: table-row;
      }
    }
  }



  @media screen and (min-width: 768px) {


    th.cdk-column-actions.mat-header-cell,
    td.cdk-column-actions.mat-cell,
    td.cdk-column-actions.mat-footer-cell {
      padding-right: 24px;
      position: absolute;
      right: 0;
      border: none;
      background: #fafafa;
      display: none;
      margin-top: 1px;

      button {
        color: black;

        &:hover {
          color: #d2001b;
        }
      }
    }
  }

  .datatable-paginator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding-left: 1rem;

    >a {
      &:hover {
        cursor: pointer;
      }
    }

    .mat-paginator {
      flex: 1;
    }
  }

  .actions-container {
    z-index: 100;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-top: 0;
    align-items: center;

    >div {
      display: flex;
      flex-direction: row;
      margin-left: 5px;

      button {
        margin-left: 17px;
      }
    }
  }

  .action-main {
    float: right;
    z-index: 100;
    background-color: #d2001b;
  }


  .datatable-table-container {
    position: relative;
    max-height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-top: none;
    background-color: white;
  }

  .table {
    width: 100%;
    text-align: inherit;
  }

  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
    }

    .mat-row,
    .mat-header-row,
    .mat-footer-row {
      display: table-row;
    }

    .mat-cell:not(:first-of-type),
    .mat-header-cell:not(:first-of-type),
    .mat-footer-cell:not(:first-of-type) {
      word-wrap: initial;
      padding: 0px 5px;
      line-break: unset;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }

  }


  .datatable-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }


  .datatable-container {
    position: relative;
    min-height: 200px;
  }

  .mat-tab-link {
    border: 0;
    background: white;
    color: inherit;
    padding: 0 24px;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    cursor: pointer;
    opacity: 1;

    .mat-icon {
      margin-right: 1rem;
    }
  }

  .mat-tab-link+.mat-tab-link {
    border-left: solid 1px rgba(0, 0, 0, 0.12);
  }

  .mat-tab-link.active {
    background-color: #d2001b;
    color: white;
  }
}
