/* For use in src/lib/core/theming/_palette.scss */
$md-ccprimary: (50 : #e6eaf4,
  100 : #c0cce3,
  200 : #96aad1,
  300 : #6b87be,
  400 : #3F64ABE0,
  500 : #2c54a2,
  600 : #375DA8DD,
  700 : #4468B0,
  800 : #1b3a86,
  900 : #223458C2,
  A100 : #a9bbff,
  A200 : #75A3FFE8,
  A400 : #436bff,
  A700 : #2a57ff,
  gradient: linear-gradient(180deg, #4468B0B5 0%, #375DA8DD 50%, #2C54A2 100%),
  border: #4468B0B5,
  success: #337609,
  list-border: #999999,
  alert-title: #337609,
  alert-border: #E1F7E4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));


/* For use in src/lib/core/theming/_palette.scss */
$md-ccaccent: (50 : #fef9ef,
  100 : #fdf1d7,
  200 : #fbe7bc,
  300 : #f9dda1,
  400 : #f8d68d,
  500 : #f7cf79,
  600 : #f6ca71,
  700 : #f5c366,
  800 : #f3bd5c,
  900 : #E69138,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff4e2,
  A700 : #ffeac9,
  gradient: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%),
  border: #1111117F,
  list-border: #999999,
  alert-title: #E69138,
  alert-border: #EFDFC9,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #4D4D4D,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

/* For use in src/lib/core/theming/_palette.scss */
$md-ccwarn: (50 : #fce7e7,
  100 : #f8c3c3,
  200 : #f39c9c,
  300 : #ee7474,
  400 : #ea5656,
  500 : #e63838,
  600 : #e33232,
  700 : #df2b2b,
  800 : #db2424,
  900 : #d51717,
  A100 : #ffffff,
  A200 : #ffd4d4,
  A400 : #ffa1a1,
  A700 : #ff8787,
  list-border: #999999,
  alert-title: #E63838,
  alert-border: #E6383880,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$app-primary: mat-palette($md-ccprimary);
$app-accent: mat-palette($md-ccaccent);
$app-warn: mat-palette($md-ccwarn);
