.profileform {
  padding: 1rem;

  agm-map {
    height: 300px !important;
  }

  .profileform-breadcrumb {
    display: flex;
    align-items: center;
  }

  .mat-divider {
    margin-left: 16px;
    margin-right: 16px;
  }

  .profileform-title {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }

  .profileform-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .profileform-card {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    .mat-subheader {
      font-size: 1.375rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.75rem;
      hyphens: auto;
      word-break: break-word;
      word-wrap: break-word;
      color: #202124;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.form {
  width: 100%;

  .form-field {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  .form-submit {
    margin-top: 1rem;
    text-align: right;
  }
}
