<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgotpassword-form">
    <h1 class="forgotpassword-form-title">Recover Password</h1>
    <p class="forgotpassword-form-text">Enter your email and we'll send you the password reset link.</p>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error
            *ngIf="forgotPasswordFormFormControl.email.hasError('email') && !forgotPasswordFormFormControl.email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="forgotPasswordFormFormControl.email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Login</button>
    <div class="forgotpassword-form-link">
        <a [routerLink]="['/auth/login']">Back to login</a>
    </div>
</form>