.forgotpassword-form {
  .forgotpassword-form-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .forgotpassword-form-text {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .mat-form-field,
  .mat-raised-button {
    width: 100%;
  }

  .mat-raised-button {
    margin-top: 1rem;
  }

  .forgotpassword-form-link{
      text-align: center;
      margin-top: 1rem;
  }
}
